* {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
}

:root {
    --first-color: #2196F3;
}

.logo {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}

.logo span {
    color: var(--first-color);   
}


.list-style {
    list-style-type: none;
}

.header-link {
    color: #212121;
    text-decoration: none;
}

.header-link:hover {
    color: var(--first-color);
}


.product-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #212121;
    background-color: #F5F4FA;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1)
}

.product-btn:hover{
    background-color: var(--first-color);
    color: #fff;
    cursor: pointer;
}

.mail, .phone {
    display: inline-block;
    font-weight: 500;
    line-height: 16px;
    color: #757575;
    margin-top: 32px;
    text-decoration: none;
}

.mail-footer, .phone-footer {
    margin-top: 12px;
}

.mail:hover, .phone:hover {
    color: var(--first-color);
}

.mail:focus, .phone:focus {
    color: red;
}

.product-subtitle {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #212121;
}

.product-text {
    margin-top: 4px;
    font-size: 16px;
    color: #757575;
}

.contacts {
    padding-top: 60px;
    height: 151px;
    background: #2F303A;
}

.footer-address a {
    margin-top: 28px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.promo {
    max-width: 1440px;
    min-height: 430px;
    padding-top: 80px;
    background: #2F303A;
}

.promo-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background: var(--first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none
}

.description-title {
    margin-top: 95px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.description-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.center-title {
    margin-top: 95px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-name {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-descr {
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

}
