* {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    padding: 0;
    margin: 0;
}

:root {
    --first-color: #2196F3;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 95px 0;
}

.section__header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;

}

.logo {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    color: #000;
    text-decoration: none;
}

.logo-footer {
    color: #fff
}

.logo span {
    color: var(--first-color);   
}


.list-style {
    list-style-type: none;
}

.list-style-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.list-style-nav li {
    position: relative;
}

.list-style-contacts {
    display: flex;
    justify-content: center;
    height: 16px;
    gap: 40px;  
}

.list-style-contacts li {
    display: flex;
    gap: 8px;
}

.section__header {
    min-height: 80px;
    border-bottom: 1px solid #F5F4FA;
}

.header-link {
    color: #212121;
    text-decoration: none;
}

.header-link:hover {
    border-bottom: 2px solid var(--first-color);
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}


.header-link-studio:after,
.header-link-portofolio:after {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 4px solid var(--first-color);
    border-radius: 2px;
    width: 100%;
    top: 49px;
}


.header-contact:hover {
    stroke: var(--first-color);
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}

.product .list-style-button {
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.product .list-style-card {
    margin-top: 50px;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.product-overlay {
    border: 1px solid #EEEEEE;
    height: 404px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.product-overlay:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}

.product-overlay:hover .product-content {
    transform: translateY(-138%);
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);

}

.product-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #212121;
    background-color: #F5F4FA;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
}

.product-btn:hover{
    background-color: var(--first-color);
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}

.product-modal {
    position: absolute;
    width: 370px;
    height: 294px;
    transform: translateY(3%);
    opacity: 0.8;
}

.product-content {
    width: 100%;
    height: 100%;
    background: var(--first-color);
    transform: translateY(-37%);
    opacity: 0;
}

.mail, .phone {
    font-weight: 500;
    line-height: 16px;
    color: #757575;
    text-decoration: none;
    
}

.mail:hover, .phone:hover {
    display: inline-block;
    color: var(--first-color);
    border-bottom: 2px solid var(--first-color);
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}


.mail-footer, .phone-footer {
    display: inline-block;
    padding-top: 12px;
}

.product-descr {
    padding: 20px 24px;
}

.product-subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    color: #212121;
}

.product-text {
    margin-top: 4px;
    font-size: 16px;
    color: #757575;
}

.contacts {
    padding-top: 60px;
    min-height: 151px;
    background: #2F303A;
}

.footer-address {
    padding-top: 28px;
}

.footer-address a {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.promo {
    min-height: 430px;
    padding-top: 200px;
    padding-bottom: 0;
    background:  linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.40)), url('../img/background.png') center center/cover no-repeat;
}

.promo-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 30px;
    height: 50px;
    background: var(--first-color);
    border-radius: 4px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none
}

.promo-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}


.list-style-description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.list-style-description li{
    width: 270px;
}

.description {
    padding-bottom: 0;
}

.description-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    left: 215px;
    top: 774px;
    background: #F5F4FA;
    border-radius: 4px;
}

.description-title {
    padding-top: 30px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.description-text {
    padding-top: 10px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.center-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.list-style-work {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.work-item {
    position: relative;
}

.work-footer {
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1%
   
}

.team {
    padding-top: 95px;
    background: #F5F4FA;
}

.team-card {
    width: 270px;
    min-height: 428px;
    left: 215px;
    top: 1785px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img {
    width: 270px;
    height: 300px;
}

.team-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.list-style-team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}
.team-name {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-descr {
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 16px;
    padding-bottom: 30px;
}

.team-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color :#AFB1B8;
}

.team-social a:hover {
    background-color: var(--first-color);
    border-radius: 100%;
    color: #fff;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}  

.team-svg {
    fill: currentColor;
} 

.list-style-customers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

.customers-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.customers-card:hover {
    border-color: var(--first-color);
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}

.customers-svg {
    fill: #AFB1B8;
}

.customers-svg:hover {
    fill: var(--first-color);
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}

.contacts-wrapper {
    display: flex;
    gap: 95px;
}

.contacts-title {
    padding-top: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff
}

.contacts-social {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.contacts-social li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    color: #fff;
}

.contacts-social li:hover {
    background-color: var(--first-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}

.contacts-social li a {
    color: #fff
}

.contacts-svg {
    fill: currentColor;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: var(--time-function);

}

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    border-radius: 100%;
    top: 8px;
    right: 8px;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;  
}