
.description {
	padding-bottom: 0;
	&-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
		&__box {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 120px;
			left: 215px;
			top: 774px;
			background: #F5F4FA;
			border-radius: 4px;
		}
		&__title {
			padding-top: 30px;
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: $color_4;
		}
		&__text {
			padding-top: 10px;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 0.03em;
			color: $color_6;
		}
	}
	
}



