* {
	font-family: $font-family_1;
	font-style: normal;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
.section {
	padding: 95px 0;
}

.logo {
	font-family: $font-family_2;
	font-weight: bold;
	font-size: 26px;
	color: $first-color;	
	text-decoration: none;
}
.list {
	&-style {
		list-style-type: none;
	}
}

.mail {
	gap: 8px;
	font-weight: 500;
	line-height: 16px;
	color: $color_6;
	text-decoration: none;
	&:hover {
		display: inline-block;
		color: $first-color;
		transition-duration: 250ms;
		transition-timing-function: var(--transition);
	}
	&-footer {
		display: inline-block;
		padding-top: 12px;
	}
}
.phone {
	font-weight: 500;
	line-height: 16px;
	color: $color_6;
	text-decoration: none;
	&:hover {
		display: inline-block;
		color: $first-color;
		transition-duration: 250ms;
		transition-timing-function: var(--transition);
	}
}
.center {
	&-title {
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		letter-spacing: 0.03em;
		color: $color_4;
	}
}
.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.2);
	z-index: 100;
	transition-duration: 250ms;
	transition-timing-function: $transition;
}
.is-hidden {
	visibility: hidden;
	opacity: 0;
	transition-duration: 250ms;
	transition-timing-function: $transition;
}

.close {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: $color_1;
	border-radius: 100%;
	top: 8px;
	right: 8px;
	font-weight: 400;
	font-size: 24px;
	cursor: pointer;
	&:hover {
		cursor: pointer;
		transition-duration: 250ms;
		color: $first-color;
	}
}

.modal-form__checked svg.svg-checked{
	position: relative;
	fill: #fff;
	left: 0;
	top: -1px;
}