.header {
	min-height: 80px;
	border-bottom: 1px solid #F5F4FA;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 84px;
	}
	&-logo {
		color: $color_1;
	}
	&-list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
		&__link {
			position: relative;
			color: $color_4;
			text-decoration: none;
		}
		&__studio {
			&:after {
				content: '';
				display: block;
				position: absolute;
				border-bottom: 4px solid $first-color;
				border-radius: 2px;
				width: 100%;
				top: 49px;
			}
		}
		&__portofolio {
			&:after {
				content: '';
				display: block;
				position: absolute;
				border-bottom: 4px solid $first-color;
				border-radius: 2px;
				width: 100%;
				top: 49px;
			}
		}
	}	
}

