@media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
}

@media (max-width: 767px) {
    .menu {
        display: none;
        &-toggle {
            display: none;
        }
        &-header {
            display: block;
        }
    }
    .container {
        padding: 0 15px
    }
    .contacts {
        padding-bottom: 60px;
        &__info {
            display: flex;
            gap: 8px;
            flex-direction: column;
        }
        &-wrapper {
            flex-wrap: wrap;
            column-gap: 165px;
            row-gap: 60px;
            &__logo {
                padding-left: 30px;
            }
            &__center {
                padding-left: 25px;
                margin-bottom: 12px;
            }
            &__title {
                text-align: center;
            }
            &__right {
                flex-direction: column;
                text-align: center;
                width: 355px;
                label {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            &__phone {
                margin: 0;
                padding-left: 35px;
            }
            &__button {
                margin: 0 auto;
            }
        }
    }
    .promo {
        padding-top: 118px;
    }
    .work {
        display: none;
    }
    .customers {
        &-list {
        flex-wrap: wrap;
        }
    }
    .description {
        &-list {
            &__item {
                width: unset;
                flex-basis: calc((100% - 2 * 30px) / 2);
            }
            &__box {
                width: unset;;
            }
        }
    }
    .team {
        &-list {
            &__card {
                flex-basis: calc((100% - 2 * 30px) / 2);
            }
        }
    }
    .product {
        &-list {
            &__card {
                gap: 10;
            }
            &__overlay {
                flex-basis: calc((100% - 2 * 30px) / 2);
                height: 400px;
            }
            &__subtitle {
                line-height: 24px;
            }
        }
    }
 
}



@media (max-width: 480px) {
    .menu {
        display: none;
        &-toggle {
            display: block;
        }
    }
    .phone {
        padding-left: 35px;
    }
    .promo {
        padding-top: 180px;
        &-title {
            font-size: 24px;
            line-height: 42px;
        }
    }
    .work {
        display: none;
    }
    .team {
        margin-top: 60px;
        &-list {
            &__card {
                flex-basis: calc((100% - 2 * 30px) / 1);
            }
        }
    }
    .customers {
        &-list {
            flex-wrap: wrap;
            &__card {
                flex-basis: calc((100% - 2 * 30px) / 2);
            }
        }

    }
    .contacts {
        padding-bottom: 40px;
        &-wrapper {
            gap: 60px;
            flex-direction: column;
            align-items: center;
            &__logo {
                padding-left: 30px;
            }
            &__center {
                padding-left: 25px;
                margin-bottom: 12px;
            }
            &__title {
                text-align: center;
            }
            &__right {
                flex-direction: column;
                text-align: center;
                label {
                    width: 100%;
                    margin-bottom: 20px; 
                }
            }
            &__phone {
                margin: 0;
                padding-left: 35px;
            }
            &__button {
                margin: 0 auto;
            }
        }
    }
    .modal {
        width: 450px;
        &-title {
            font-size: 20px;
            max-width: 370px;
            margin: 0 auto;
        }
        &-form {
            padding: 22px 40px 40px;
            width: 370px;
        }
    }
    .product {
        &-list {
            &__btn {
                font-size: 11px;
                padding: 3px 15px;
            }
            &__card {
                justify-content: center;
            }
            &__overlay {
                flex-basis: calc((100% - 2 * 30px) / 1);
            }
        }
    }
    .description {
        &-list {
            &__item {
                width: unset;
                flex-basis: calc((100% - 2 * 30px) / 1);
            }
            &__box {
                width: unset;;
            }
        }
    }
}


@media  screen and (min-width: 768px){
    .promo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.40)), url('../img/Header_img-M-min.png') center center/cover no-repeat
    }
}


@media  screen and (min-width: 1200px){
    .promo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.40)), url('../img/Header_img-T-min.png') center center/cover no-repeat
    }
}


@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx){
    .promo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.40)), url("../img/Header_img-M-R-@2X-min.png") 
    }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx){
    .promo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.40)), url("../img/Header_img-T-R-@2X-min.png") 
    }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (min-resolution: 192dpi),
screen and (min-width: 1200px) and (min-resolution: 2dppx){
    .promo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.40)), url("../img/Header_img-D-R-@2X-min.png") center center/cover no-repeat
    }
}













