.product {
	&-list {
		margin-top: 95px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		&__btn {
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			text-align: center;
			color: $color_4;
			background-color: $background-color_1;
			padding: 6px 22px;
			border: none;
			border-radius: 4px;
			&:hover {
				background-color: $background-color_2;
				color: $color_2;
				box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
				cursor: pointer;
				transition-duration: 250ms;
				transition-timing-function: var(--transition);
			}
		}
		&__card {
			margin-top: 50px;
			margin-bottom: 90px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 30px;
		}
		&__overlay {
			border: 1px solid #EEEEEE;
			height: 400px;
			position: relative;
			overflow: hidden;
			cursor: pointer;
		}
		&__descr {
			padding: 20px 24px;
		}
		&__subtitle {
			font-weight: bold;
			font-size: 18px;
			line-height: 36px;
			color: $color_4;
		}
		&__text {
			margin-top: 4px;
			font-size: 16px;
			color: $color_6;
		}
		&__item {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			&:hover {
				.product-list__info {
					transform: translateY(0);
					transition-duration: 250ms;
					transition-timing-function: var(--transition);
				}
			}
		}
		&__info {
			top: 0;
			background: rgba(33, 150, 243, 0.7);
			transform: translateY(100%);
			span {
			display: inline-block;
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			padding: 63px 24px 91px;
			color: $color_2;
			letter-spacing: 0.03em;
		}
	}
	}
}

