.customers-list__style {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding-top: 50px;
}
.customers-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border: 1px solid #AFB1B8;
	border-radius: 4px;
	&:hover {
		border-color: $border-color_1;
		transition-duration: 250ms;
		transition-timing-function: var(--transition);
		cursor: pointer;
	}
}
.customers-svg {
	fill: #AFB1B8;
	&:hover {
		fill: $first-color;
		transition-duration: 250ms;
		transition-timing-function: var(--transition);
	}
}