.header {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 84px;
	}
	min-height: 80px;
	border-bottom: 1px solid #F5F4FA;
}
.header {
	&-list {
		&__nav {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 50px;
			li {
				position: relative;
			}
		}
	}
	&-link {
		color: $color_4;
		text-decoration: none;
	}
	&-link {
		&__studio {
			&:after {
				content: '';
				display: block;
				position: absolute;
				border-bottom: 4px solid $first-color;
				border-radius: 2px;
				width: 100%;
				top: 49px;
			}
		}
		&__portofolio {
			&:after {
				content: '';
				display: block;
				position: absolute;
				border-bottom: 4px solid $first-color;
				border-radius: 2px;
				width: 100%;
				top: 49px;
			}
		}
	}
	&__contact {
		&:hover {
			stroke: $first-color;
			transition-duration: 250ms;
			transition-timing-function: var(--transition);
		}
	}
}

