$first-color: #2196F3;
$color_1: #000;
$color_2: #fff;
$color_4: #212121;
$color_5: #FFFFFF;
$color_6: #757575;
$color_7: #AFB1B8;
$color_8: rgba(117, 117, 117, 0.5);
$color_9: rgba(255, 255, 255, 0.6);
$font-family_1: 'Roboto', 'sans-serif';
$font-family_2: 'Raleway', sans-serif;
$background-color_1: #F5F4FA;
$background-color_2: $first-color;
$background-color_3: #2F303A;
$border-color_1: $first-color;
$transition: cubic-bezier(0.4, 0, 0.2, 1);
